html {
    padding: 1.5rem;
}

body {
    background-color: $background_color;
    color: $text_color;
    font-family: $sans_stack;
    font-size: $font_size;
    line-height: 1.5;
    margin: 3vw 0;
}

a {
    color: $link;
    transition: .4s;

    &:visited {
        transition: .4s;
        color: $link;
    }

    &:hover {
        transition: .4s;
        color: $link_hover;
    }

    &:active {
        transition: .4s;
        color: $link_active;
    }
}

p {
    font-family: $body_fonts;
    line-height: 1.7;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
}

sup {
    line-height: 0;
    position: relative;
}

.nascosto {
    display: none;
}

.right {
    float: right;
}

.small {
    font-size: .8rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark_background_color;
        color: $dark_text_color;
    }

    a {
        color: $dark_link;
        
        &:visited {
            color: $dark_link;
        }
    
        &:hover {
            color: $dark_link_hover;
        }
    
        &:active {
            color: $dark_link_active;
        }
    }
}