body {
    background-color: $background_color;
    color: $text_color;
    font-family: $base_fonts, $emoji_fonts;
    font-size: 11pt;
    line-height: 1.5;
}

body > header, body > #content > section, body > footer {
    max-width: $max_width;
    margin: 0 auto;
}

body > header {
    margin-bottom: 8rem;
    margin-top: 4rem;
}

body > footer {
    margin-top: 8rem;
}

body > #content > section {
    margin: 4rem auto;
}

a {
    color: $link;

    &:visited {
        color: $link;
    }

    &:hover {
        color: $hover_link;
    }
}

h1 {
    font-size: 1rem;
    font-weight: bold;
}

sup {
    line-height: 0;
    position: relative;
}

p {
    hyphens: auto;
}

.split {
    display: grid;
    grid-template-columns: clamp(8em, 20vw, 9em) 1fr;
    align-items: baseline;
    margin-bottom: .8em;

    .label {
        color: adjust-color($color: $text_color, $lightness: 40%);
        font-weight: 500;
    }

    .year {
        color: adjust-color($color: $text_color, $lightness: 40%);
        font-size: .8rem;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .project {
        h3 {
            font-size: 1rem;
            font-weight: 500;
            margin: 1rem 0 .4rem 0;
        }

        .description {
            color: adjust-color($color: $text_color, $lightness: 20%);
        }
    }
}