@font-face {
    font-family: "Merchant Copy";
    src: url("/fonts/mc-reg.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Merchant Copy Double";
    src: url("/fonts/mc-double.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Merchant Copy Wide";
    src: url("/fonts/mc-wide.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src:
        local("Roboto"),
        url("/fonts/roboto.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Roboto Serif";
    src: 
        local("Roboto Serif"),
        url("/fonts/ros-reg.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Roboto Serif";
    src: 
        local("Roboto Serif"),
        url("/fonts/ros-ita.woff2") format('woff2');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: 
        local("Roboto Mono"),
        url("/fonts/rom-reg.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: 
        local("Roboto Mono"),
        url("/fonts/rom-ita.woff2") format('woff2');
    font-style: italic;
    font-display: swap;
}