#footer {
    font-size: .8rem;
    text-align: center;
    color: $site_footer;
    
    a {
        color: $site_footer;

        &:hover {
            color: $site_footer_hover_link;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0 .6rem;
        }
    }

    p {
        margin: 0;
    }
}