#home-header {
    align-items: center;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 7.5rem;

    .nome {
        font-weight: 500;
        margin-bottom: 0;

        a {
            text-decoration: none;
        }
    }

    #location {
        color: $label_color;

        #freccia {
            padding: 0 .4rem;
        }
    }

    #photo {
        img {
            border-radius: 100%;
            width: 72px;
        }
    }

    #roles {
        color: $label_color;
        height: 1.2em;
        line-height: 1.2em;
        position: relative;
        overflow: hidden;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
            animation: slide 6s infinite;
        }
    }
}

@keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
}

@media (prefers-color-scheme: dark) {
    #home-header {
        #location {
            color: $dark_label_color;
        }
    }

    #header h1 a:visited {
        color: $dark_link;
    }
}

@media (grid) and (monochrome) {
    #home-header {
        #photo {
            display: none;
        }
    }
}