#home-header {
    align-items: center;
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 8rem;
    margin-top: 4rem;

    .nome {
        font-weight: 500;
        margin-bottom: 0;

        a {
            text-decoration: none;
        }
    }

    #location {
        color: $label_color;

        #freccia {
            padding: 0 .4rem;
        }
    }

    #photo {
        img {
            border-radius: 100%;
            width: 72px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    #home-header {
        #location {
            color: $dark_label_color;
        }
    }

    #header h1 a:visited {
        color: $dark_link;
    }
}

@media (grid) and (monochrome) {
    #home-header {
        #photo {
            display: none;
        }
    }
}