// $gradient: ();
// @function rand($min, $max) {
//     @return random($max - $min) + $min;
// } 

// @for $i from 1 to 40 {
//   $degrees : rand(30,180) * 1deg;
//   $start : random(100);
//   $end : rand($start + 1, $start + 20);

//   $gradient: join(
//     $gradient,
//     linear-gradient($degrees, 
//       #000 $start + unquote('%'),
//       #fff $end + unquote('%')),
//     comma
//     );
// }

// .paper {
//   position: relative;
  
//   &::before,
//   &::after {
//     background: $gradient;
//     background-blend-mode: difference;
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0; right: 0; bottom: 0; left: 0;
//   }
  
//   &::after {
//     filter: invert(1);
//     opacity: 0.5;
//     top: 1px;
//   }
// }

// .color-overlay {
//   background: hsla(40, 90, 70, 0.5);
//   mix-blend-mode: overlay;
//   position: absolute;
//   top: 0; left: 0; bottom: 0; right: 0;
//   z-index: 1;
// }


#content.visto-e-letto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem 0;
    margin: 0 auto;
}

.scontrino {
    margin-bottom: 1rem;
    font-size: 16pt;
    font-family: "Merchant Copy";
    width: 14rem;
    padding: 1rem;
    border-top: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    line-height: .8;
    background-color: #fbfbfb;

    .head {
        text-align: center;
        margin: 2rem 0 3rem 0;
        line-height: 1;
        text-transform: capitalize;

        .year {
            font-family: "Merchant Copy Wide";
        }

        .media {
            font-family: "Merchant Copy Double";
        }
    }

    .note {
        margin-bottom: 2rem;
    }

    .foot {
        margin: 2rem 0 1rem 0;

        table {
            width: 100%;
        }
    }

    .sources {
        .header {
            text-align: left;

            .source-type {
                float: left;
            }

            .length {
                float: right;
            }

            .separator {
                clear: both;
            }
        }

        .footer {
            .total {
                text-align: right;
                font-family: "Merchant Copy Wide";

                .total_label {
                    float: left;
                }
            }
        }

        table {
            width: 100%;

            td {
                vertical-align: top;
            }
            
            .length {
                text-align: right;
            }

            .title {
                text-transform: uppercase;
            }
        }

        .books {

            .title {
                padding-left: 16pt;
            }

            .length {
                text-align: right;
            }
        }

        .shows {
            .season {
                padding-left: 16pt;
            }

            .length {
                text-align: right;
            }
        }
    }
}