.manuale-per-vivere.page {
    article {
        background-color: $content_color;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        font-family: $serif_fonts;
        font-size: 2rem;
        margin: 0 auto;
        padding: 2rem 4rem;
        max-width: $max_width;

        p {
            hyphens: none;
        }

        .who {
            font-size: 1.4rem;
            font-variant: all-small-caps;
            text-align: right;
            letter-spacing: 1px;
        }

        h1, aside {
            display: none;
        }
    }
}