// Light theme colors
$background_color: hsl(20, 18%, 97%);
$content_color: hsl(0, 0%, 100%);
$text_color: #000;
$link: #000;
$link_hover: #393939;
$link_active: #393939;

// Dark theme colors
$dark_background_color: hsl(15, 6%, 13%);
$dark_content_color: hsl(0, 0%, 18%);
$dark_text_color: #fff;
$dark_link: #fff;
$dark_link_hover: #d8d8d8;
$dark_link_active: #d8d8d8;