.time-logger {
    h2 {
        max-width: $max_width;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    #table-container {
        max-width: $max_width;
        margin: 0 auto;

        table {
            width: 100%;
            font-size: .8rem;
            font-family: $mono_fonts;
            background-color: adjust-color($color: $background_color, $lightness: -10%);
            border-radius: .2rem;

            thead {
                background-color: adjust-color($color: $background_color, $lightness: -40%);
                color: $button_text;
                position: sticky;

                tr {
                    position: sticky;
                    
                    &:hover {
                        background-color: adjust-color($color: $background_color, $lightness: -40%);
                    }
                }

                th {
                    font-weight: normal;
                    text-align: left;
                    padding: 0 4px;
                    text-transform: uppercase;
                }
            }

            td {
                padding: 0 4px;
            }

            tr:hover {
                background-color: adjust-color($color: $background_color, $lightness: -30%);
                color: $button_text;
            }
        }
    }
}

@media (prefers-color-scheme: dark)  {
    .time-logger {
        #table-container {    
            table {
                background-color: adjust-color($color: $dark_background_color, $lightness: 10%);
    
                thead {
                    background-color: adjust-color($color: $dark_background_color, $lightness: 40%);
                    color: $button_text;
    
                    tr:hover {
                        background-color: adjust-color($color: $dark_background_color, $lightness: 40%);;
                    }
                }
    
                tr:hover {
                    background-color: adjust-color($color: $dark_background_color, $lightness: 30%);
                    color: $button_text;
                }
            }
        }
    }
    
}
