$sans_stack: system-ui, -apple-system, Roboto, sans-serif;
$serif_stack: -apple-system-ui-serif, ui-serif, "Roboto Serif", serif;
$emoji_stack: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mono_fonts: "SF Mono", "Roboto Mono", monospace;
$sans_fonts: $sans_stack, $emoji_stack;
$serif_fonts: $serif_stack, $emoji_stack;

$max_width: 38rem;
$font_size: 18px;

@import "themes/chimero";
// @import "theme/nyc";
// @import "theme/tropical";

@import "fonts";

@import "base";
@import "header";
@import "footer";
@import "pulsanti";
@import "pubblicazione";
@import "404";

@import "home";