$base_fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$emoji_fonts: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mono_fonts: "Courier Prime Sans", monospace;

$max_width: 38rem;

// Light theme colors
$background_color: hsl(20, 18%, 97%);
$content_color: hsl(0, 0%, 100%);
$text_color: #000;
$link: #000;
$hover_link: #393939;

// Dark theme colors
$dark_background_color: #000;
$dark_content_color: rgb(46, 46, 46);
$dark_text_color: #fff;
$dark_link: #fff;
$dark_hover_link: #d8d8d8;

@import "fonts";

@import "base";
@import "base_dark";
@import "header";
@import "header_dark";
@import "footer";
@import "sections";

@import "single";
@import "single_dark";

@import "manuale";
@import "manuale_dark";
@import "scontrino";
@import "scontrino_dark";