{{ define "head_script" }}
    <script src="./daily.js" type="module"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/js/luxon.min.js"></script>
    <script src="/js/chartjs-adapter-luxon.js"></script>
{{ end }}

{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <section class="chart">
        <canvas id="daily-throws" width="400" height="400"></canvas>
    </section>
</article>
{{ end }}

{{ define "script" }}
<script type="module">
    import { daily_throws } from './daily.js';

    function compileThrows(throws) {
        let data = {
            'primaries': [],
            'relatives' : []
        }

        throws.forEach(day => {
            const timestamp = day.date;
            day.throws.forEach(single_throw => {
                if (data.primaries.some(e => e.y === single_throw[0])) {
                    let old = data.primaries.find(th => th.y === single_throw[0]);
                    old.r += 1;
                } else {
                    data.primaries.push({
                        x: timestamp,
                        y: single_throw[0],
                        r: 1
                    });
                }
                if (single_throw.length > 1) {
                    if (data.relatives.some(e => e.y === single_throw[1])) {
                        let old = data.relatives.find(th => th.y === single_throw[1]);
                        old.r += 1;
                    } else {
                        data.relatives.push({
                            x: timestamp,
                            y: single_throw[1],
                            r: 1
                        });
                    }
                }
            });
        });
        return data;
    }

    function getMean(throws) {
        let data = {
            labels: [],
            primaries: [],
            relatives: []
        };

        throws.forEach(th => {
            let primary = {
                count: 0,
                value: 0
            };
            let relative = {
                count: 0,
                value: 0
            };

            th.throws.forEach(t => {
                primary.value += t[0];
                primary.count += 1;

                if (t.length > 1) {
                    relative.value += t[0];
                    relative.count += 1;
                }
            });
            data.labels.push(th.date);
            data.primaries.push(primary.value / primary.count);
            data.relatives.push(relative.value / relative.count);
        });
        return data;
    }

    let daily_data = compileThrows(daily_throws);
    let daily_mean = getMean(daily_throws);
    console.log(daily_mean)

    const dtc = document.getElementById('daily-throws').getContext('2d');
    const dailyThrows = new Chart(dtc, {
        type: 'bubble',
        data: {
            datasets: [
                {
                    label: 'Primari',
                    data: daily_data.primaries,
                    backgroundColor: 'rgb(101, 156, 219)'
                },
                {
                    label: 'Relativi',
                    data: daily_data.relatives,
                    backgroundColor: 'rgb(227, 185, 86)'
                },
                {
                    type: 'line',
                    label: 'Media primari',
                    data: daily_mean.primaries,
                },
                {
                    type: 'line',
                    label: 'Media relativi',
                    data: daily_mean.relatives,
                }
            ],
            labels: daily_mean.labels
        },
        options: {
            locale: 'it',
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                        displayFormats: {
                            day: 'd MMMM'
                        }
                    }
                },
                y: {
                    min: 1,
                    max: 64,
                    ticks: {
                        stepSize: 8
                    }
                }
            }
        }
    });
</script>
{{ end }}