{{ $cover := .Resources.GetMatch "*.jpg" }}
{{ if $cover }}
{{ $base_width := int (math.Round (mul .Params.width 10)) }}
{{ $x1 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 2))) }}
{{ $x2 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 3))) }}
{{ $x3 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 4))) }}
{{ $x4 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 5))) }}
<img src="{{ $cover.RelPermalink }}" srcset="{{$x1.RelPermalink}} 1x, {{$x2.RelPermalink}} 2x, {{$x3.RelPermalink}} 3x, {{$x4.RelPermalink}} 4x" alt="{{ .Title }} di {{ .Params.author }}" class="book-cover" style="width:{{ $base_width }}px">
{{ end }}