{{ define "main" }}
<div class="{{ .Params.categories }}">
    <div id="tag-selector">
        {{ $tags := (slice) }}
        {{ range where .Site.Pages "Section" .Section }}
        {{ range .Params.tags }}
        {{ $tags = union $tags ( slice . ) }}
        {{ end }}
        {{ end }}
        {{ range (sort $tags) }}
        <button class="tag-button" id="tag-{{ . }}" data-filter=".{{ . }}">{{ . }}</button>
        {{ end }}
    </div>
    <div id="cork-board">
        {{ range .Pages.ByDate.Reverse }}
        <div class="quote boxed {{ range .Params.tags }}{{ . }} {{ end }}">
            {{ .Content }}
            <div class="link">
                <a href="{{ .Permalink }}">link</a>
            </div>
            {{ if .Params.who }}
            <div class="who">
                &mdash; {{ .Params.who }}
            </div>
            {{ end }}
            <footer>
                <div class="source">
                    via <a href="{{ .Params.source_url }}">{{ .Params.source_title }}</a>
                    {{ if .Params.archive_url}}
                    (<a href="{{ .Params.archive_url }}">arch.</a>)
                    {{ end }}
                </div>
                {{ if .Params.tags }}
                <div class="tags">[
                    {{ range .Params.tags }}
                    <span class="tag">
                        {{ . }}
                    </span>
                    {{ end}}}
                </div>
                {{ end }}
            </footer>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "head_script" }}
<script src="/js/isotope.pkgd.min.js"></script>
{{ end }}

{{ define "script" }}
<script>
    var elem = document.querySelector('#cork-board');
    var iso = new Isotope(elem, {
        itemSelector: '.quote',
        transitionDuration: 0,
        masonry: {
            columnWidth: 320,
            gutter: 16,
            fitWidth: true
        }
    });

    {{/*  var filtersElem = document.querySelector('#tag-selector');
    filtersElem.addEventListener('click', function (event) {
        if (!matchesSelector(event.target, 'button')) {
            return;
        }
        if (event.target.getAttribute('id') === 'feeling-lucky') {
            let quotes = document.querySelectorAll('.quote');
            let pick = Math.floor(Math.random() * quotes.length);
            iso.hideItemElements(quotes);
            iso.revealItemElements(quotes[pick]);
        } else {
            var filterValue = event.target.getAttribute('data-filter');
            iso.arrange({
                filter: filterValue
            });
        }
    });  */}}

    var buttonGroups = document.querySelectorAll('#tag-selector');
    for (var i = 0, len = buttonGroups.length; i < len; i++) {
        var buttonGroup = buttonGroups[i];
        radioButtonGroup(buttonGroup);
    }

    function radioButtonGroup(buttonGroup) {
        buttonGroup.addEventListener('click', function (event) {
            if (!matchesSelector(event.target, 'button')) {
                return;
            } else if (event.target.classList.contains('active-filter')) {
                iso.arrange({
                   filter: '*'
                });
                event.target.classList.remove('active-filter');
             } else {
                iso.arrange({
                   filter: event.target.getAttribute('data-filter')
                });
                if (buttonGroup.querySelector('.active-filter') !== null) {
                   buttonGroup.querySelector('.active-filter').classList.remove('active-filter');
                }
                event.target.classList.add('active-filter');
             }
        });
    }
</script>
{{ end }}