<section id="altro">
    <h2>Altri progetti</h2>
    <div class="split">
        <div class="year">2022 – …</div>
        <div class="project">
            <h3><a href="/cose-belle">Cose belle</a></h3>
            <div class="description">
                Un insieme di citazioni incontrate in momenti in cui sembravano particolarmente significative.
            </div>
        </div>
    </div>
    <div class="split">
        <div class="year">2021 – …</div>
        <div class="project">
            <h3><a href="/manuale-per-vivere">Manuale per vivere</a></h3>
            <div class="description">
                Un insieme di citazioni incontrate in momenti in cui sembravano particolarmente significative.
            </div>
        </div>
    </div>
    <div class="split">
        <div class="year">2019 – …</div>
        <div class="project">
            <h3><a href="/visto-e-letto">Visto e letto</a></h3>
            <div class="description">
                L'elenco di buona parte dei libri che ho letto, e di ciò che ho visto tra film e serie.
            </div>
        </div>
    </div>
</section>