<section id="contatti">
    <h2>Contatti</h2>
    <div class="split">
        <div class="label">Email</div>
        <div class="content">
            <a href="mailto:jacopo@jacopodonati.it">jacopo@jacopodonati.it</a>
        </div>
    </div>
    <div class="split">
        <div class="label">Twitter</div>
        <div class="content">
            <a href="https://twitter.com/_jacopodonati">@_jacopodonati</a>
        </div>
    </div>
    <div class="split">
        <div class="label">LinkedIn</div>
        <div class="content">
            <a href="https://www.linkedin.com/in/jacopodonati/">@jacopodonati</a>
        </div>
    </div>
</section>