<section id="contatti">
    <h2>Contatti</h2>
    <div class="split">
        <div class="label">Email</div>
        <div class="content">
            <a href="mailto:&#106;&#97;&#99;&#111;&#112;&#111;&#64;&#106;&#97;&#99;&#111;&#112;&#111;&#100;&#111;&#110;&#97;&#116;&#105;&#46;&#105;&#116;">&#106;&#97;&#99;&#111;&#112;&#111;&#64;&#106;&#97;&#99;&#111;&#112;&#111;&#100;&#111;&#110;&#97;&#116;&#105;&#46;&#105;&#116;</a>
        </div>
    </div>
    <div class="split">
        <div class="label">LinkedIn</div>
        <div class="content">
            <a href="https://www.linkedin.com/in/jacopodonati/" target="_blank">@jacopodonati</a>
        </div>
    </div>
    <div class="split">
        <div class="label">GitHub</div>
        <div class="content">
            <a href="https://github.com/jacopodonati/" target="_blank">@jacopodonati</a>
        </div>
    </div>
    <div class="split">
        <div class="label">Instagram</div>
        <div class="content">
            <a href="https://instagram.com/_jacopodonati/" target="_blank">@_jacopodonati</a>
        </div>
    </div>
</section>