<section id="cv">
    {{ range .Site.Data.cv.esperienze }}
    <div class="esperienza">
        <header class="header">
            <h3>{{ .ruolo }}</h3>
            <div class="datore">
            {{- if .datore.url }}
                <a href="{{ .datore.url }}">{{ .datore.nome }}</a>
            {{- else -}}
                {{ .datore.nome }}
            {{ end }}
            </div>
            <div class="data">
                <span class="dal">{{ .data.dal }}</span>
                <span class="freccia">&rarr;</span>
                <span class="al">{{ .data.al }}</span>
            </div>
        </header>
        <p>{{ .descrizione }}</p>
    </div>
    {{ end }}
</section>