<section id="cv">
    <div class="esperienza">
        <header>
            <h3>Consulente editoriale</h3>
            <div class="datore">freelance</div>
            <div class="data">
                <div class="dal">2013</div>
                <div class="freccia">&darr;</div>
                <div class="al">oggi</div>
            </div>
        </header>
        <p>Offro servizi editoriali a case editrici e privati. Da quando ho iniziato mi sono occupato di ghostwriting, ricerca, editing e correzione bozze. Ho lavorato principalmente su testi di narrativa, ma anche saggistica e articoli per quotidiani.</p>
    </div>
    <div class="esperienza">
        <header>
            <h3>Docente di scrittura creativa</h3>
            <div class="datore"><a href="https://bottegafinzioni.it">Bottega Finzioni</a></div>
            <div class="data">
                <div class="dal">2015</div>
                <div class="freccia">&darr;</div>
                <div class="al">oggi</div>
            </div>
        </header>
        <p>Tengo e organizzo corsi di scrittura creativa per aziende, scuole e biblioteche. Dal 2019 sono uno dei docenti di Bottega Finzioni, dove insegno editing agli allievi dell’area Letteratura.</p>
    </div>
    <div class="esperienza">
        <header>
            <h3>Coordinatore di redazione</h3>
            <div class="datore"><a href="https://relazioni.eu">Relazioni:</a></div>
            <div class="data">
                <div class="dal">2020</div>
                <div class="freccia">&darr;</div>
                <div class="al">2021</div>
            </div>
        </header>
        <p>Ho svolto le mansioni di coordinatore di redazione per la rivista “Relazioni:”, edita da Luca Sossella Editore, curando soprattutto i contatti con autori, grafici, e redattori.</p>
    </div>
    <div class="esperienza">
        <header>
            <h3>Sceneggiatore</h3>
            <div class="datore"><a href="https://bottegafinzioni.it">Bottega Finzioni</a></div>
            <div class="data">
                <div class="dal">2016</div>
                <div class="freccia">&darr;</div>
                <div class="al">2019</div>
            </div>
        </header>
        <p>Ho preso parte alla scrittura di diverse puntate di “Le muse inquietanti” e “Inseparabili”, due format condotti da Carlo Lucarelli e andati in onda su SkyArte.</p>
    </div>
    <div class="esperienza">
        <header>
            <h3>Tutor</h3>
            <div class="datore"><a href="https://bottegafinzioni.it">Bottega Finzioni</a></div>
            <div class="data">
                <div class="dal">2012</div>
                <div class="freccia">&darr;</div>
                <div class="al">2018</div>
            </div>
        </header>
        <p>Sono stato tutor di Bottega Finzioni. Organizzavo il materiale degli allievi, tenevo aggiornato il Coordinatore d’Area e i committenti dei progetti proposti esternamente alla scuola.</p>
    </div>
    <div class="esperienza">
        <header>
            <h3>Servizio clienti</h3>
            <div class="datore"><a href="https://automattic.com">Automattic Inc.</a></div>
            <div class="data">
                <div class="dal">2012</div>
            </div>
        </header>
        <p>Ho fatto parte del team di Automattic nel ruolo di Happiness Engineer. La maggior parte delle richieste riguardavano clienti statunitensi.</p>
    </div>
    <div class="esperienza">
        <header>
            <h3>Direttore editoriale</h3>
            <div class="datore"><a href="https://finzionimagazine.it">Finzioni Magazine</a></div>
            <div class="data">
                <div class="dal">2009</div>
                <div class="freccia">&darr;</div>
                <div class="al">2013</div>
            </div>
        </header>
        <p>Nella redazione di Finzioni Magazine, ho ricoperto vari ruoli fino a diventare direttore editoriale. Ho gestito una redazione di 50+ volontari sparsi in tutta Italia e curato il piano editoriale.</p>
    </div>
</section>