<section id="pubblicazioni">
    {{ with .Site.GetPage "/pubblicazioni" }}
    {{ $books := where .Pages "Params.homepage" true }}
    {{ if gt (len $books) 0 }}
    <div id="book-shelf">
        {{ range $books }}
        <div class="book">
            {{- $cover := .Resources.GetMatch "cover.jpg" -}}
            {{- if $cover -}}
            {{- $base_mul := 3 -}}
            {{- $base_width := (mul $base_mul (int .Params.width)) -}}
            {{- $base_height := (div (mul $cover.Height $base_width) $cover.Width) -}}
            {{- $x1 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 2))) -}}
            {{- $x2 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 3))) -}}
            {{- $x3 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 4))) -}}
            {{- $x4 := $cover.Resize (printf "x%s q80 webp" (string (mul $base_width 5))) }}
            <a href="{{ .RelPermalink }}">
                <img src="{{ $cover.RelPermalink }}" srcset="{{$x1.RelPermalink}} 1x, {{$x2.RelPermalink}} 2x, {{$x3.RelPermalink}} 3x, {{$x4.RelPermalink}} 4x" alt="Copertina di {{ .Title }}" class="book-cover" style="width:{{ div $base_width 2 }}px;height:{{ div $base_height 2 }}px">
            </a>
            {{- end }}
        </div>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}
    <a class="small right" href="/pubblicazioni">tutte le pubblicazioni &rarr;</a>
</section>